<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Todo List</h1>
</section>

<div class="container">
    <div class="add-todo-box">
    <form>
        <h2 class="title is-5">New Todo</h2>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input type="text" class="input" placeholder="Type text here..">
            </p>
            <p class="control">
                <button class="button alt-gradient-button">
                    <i class="material-icons">
                        add 
                    </i>
                </button>
            </p>
        </div>
    </form>
</div>

<section class="section">
    <div class="container">
        <div class="todos-list">
            <div class="todo-item completed">
                <div class="check-box">
                    <i class="material-icons">check</i>
                </div>
                
                <div class="todo-text">
                    Bulma is a free, open source framework that provides ready-to-use frontend components that you can easily combine to build responsive web interfaces.
                </div>

                <div class="todo-controls-box">
                    <div class="todo-control-button">
                        <i class="material-icons">edit</i>
                    </div>
                    <div class="todo-control-button is-danger">
                        <i class="material-icons">delete</i>
                    </div>
                </div>
            </div>
            <div class="todo-item">
                <div class="check-box">
                    <i class="material-icons">check</i>
                </div>
                
                <div class="todo-text">
                    This is one line text
                </div>

                <div class="todo-controls-box">
                    <div class="todo-control-button">
                        <i class="material-icons">edit</i>
                    </div>
                    <div class="todo-control-button is-danger">
                        <i class="material-icons">delete</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

